/**
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

$cu-styles-root: '../../../interface-lib/camelot-unchained/styles/';
@import "../../node_modules/camelot-unchained/lib/index.scss";

body {
  overflow: hidden;
  cursor: default;
  height: 100%;
  width: 400px;
  margin: 0;
  font-family: sans-serif;
}

.cu-window-close {
  line-height: 1em;
  float: right;
}

.perfhud-select {
  line-height: 1em;
  border-bottom: 2px solid lighten( $color-dark, 25% );
}


.perfhud-select-item {
  padding: 2px 5px;
  display: inline-block;
  border-right: 2px solid lighten( $color-dark, 25% );
}

.perfhud-select-item:hover {
  background-color: lighten( $color-dark, 25% );
}

.perfhud-select-item.selected {
  background-color: $color-dark;
  color: $color-light;
}

.perfhud-minimize {
  padding: 2px 5px;
  display: inline-block;
  border-right: 2px solid lighten( $color-dark, 25% );
}
.perfhud-minimize:hover {
  background-color: lighten( $color-dark, 25% );
}
