/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
 
 .build-panel {
   width: 200px;
 }
 
 .build-panel.minimized {
   width: 90px;
 }
 
.build-panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 50px 0px;

  .row {
    margin-bottom: 2px;
  }
   
  header {
   color: #eaeaea;
   font-size: 10px;
   background-color: rgba(0, 0, 0, 0.75);
   border-bottom: 0.2px solid rgba(255, 255, 255, 0.2);
   border-top: 0.2px solid rgba(255, 255, 255, 0.2);
  }
  
  .min-max {
    cursor: pointer;
  }    
  
  .tab-content {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    color: #eaeaea;
  }
 
  .tabs {
    background-color: rgba(100, 100, 100, 0.4);
    div {
      display: inline-block;
      font-size: 11px;
      color: #eaeaea;
      text-transform: uppercase;
      padding: 5px 10px;
      cursor: pointer;
    }
    .active {
      background-color: rgba(0, 0, 0, 0.85);
      border-top: 0.2px solid rgba(255, 255, 255, 0.2);
      cursor: default;
    }
  }
}
 